* {
	font-family: "Poppins", sans-serif;
}

body {
	margin: 0 auto;
}

.handlee-regular {
	font-family: "Handlee", cursive;
	font-weight: 400;
	font-style: normal;
}

/* .write-link {
	transition: all 500ms ease-in-out;

	:hover {
		transform: translate3d(0, -1.125rem, 0) !important;
	}
} */

/* header {
	background-image: url(assets/bg-mobile.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* height: 100vh; */
/* }  */

nav,
.hero-desktop {
	max-width: 1200px;
}

.scroll-down {
	color: #a5a5a5;
	bottom: 0;
}

.hero-img {
	width: 300px;
	height: auto;
}

.about-bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #c4cdf4;
	color: #242727;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	padding: 0;
	border: none;
	transition: all 500ms ease-in-out;
}

/* .about-bubble a {
	color: white;
} */

.about-bubble:hover {
	/* transform: scaleY(1.2); */
	transform: translate3d(0, -1.125rem, 0);
	background-color: #c4cdf4;
	color: #242727;
}

.shout {
	font-weight: 600;
	font-size: 50px;
}

.squeeze {
	letter-spacing: -7px;
}

.logo-custom {
	letter-spacing: -1.5px;
	font-weight: 500;
}

.about-me .display-1 {
	font-weight: 400;
}

.ham-menu {
	border: none;
	color: #717171;
	font-size: 1.2rem;
	letter-spacing: -1px;
	font-weight: 300;
}

.header-hr {
	border: 1px solid black;
	height: 0px;
}

.about-desktop {
	max-width: 1100px;
	margin: 0 auto;
}

.p1-projects {
	font-size: 30px;
	font-weight: 500;
}
.p2-projects {
	font-size: 16px;
	font-weight: 300;
}

.projects hr {
	height: 0;
	border: 1px solid black;
}

.btn-more-custom {
	padding: 10px 15px;
	border: 1px solid #cccccc;
	border-radius: 30px;
	background-color: #fef3f3;
	color: #414141;
	transition: all 400ms ease-in-out;
}

.btn-more-custom:hover {
	/* transform: scaleY(1.2); */
	transform: translate3d(0, -1.125rem, 0);
	/* background-color: #4055b3;
	color: white; */
}

.contact {
	background-color: #1c1d20;
}

.contact-img {
	margin-bottom: 0;
}

.p-br {
	color: white;
	font-size: 32px;
	font-weight: 500;
}

.profile-pic {
	display: flex;
}

.profile-pic img {
	height: 45px;
	width: auto;
}

.contact hr {
	height: 0;
	border: 1px solid white;
}

.btn-contact {
	height: 110px;
	width: 110px;
	color: #242727;
	background-color: #c4cdf4;
	border: none;
	margin-top: -150px;
	z-index: 5;
	transition: all 500ms ease-in-out;
}

.btn-contact:hover {
	/* transform: scaleY(1.2); */
	transform: translate3d(0, -1.125rem, 0);
	background-color: #4055b3;
	color: white;
}

.btn-email-phone {
	box-sizing: border-box;
	padding: 10px 15px;
	border: 1px solid #c5c5c5;
	background-color: #1c1d20;
	color: white;
	border-radius: 30px;
	font-weight: 300;
	font-size: 14px;
	min-width: 200px;
	transition: all 500ms ease-in-out;
}

.btn-email-phone:hover {
	/* transform: scaleY(1.2); */
	transform: translate3d(0, -1.125rem, 0);
	background-color: #4055b3;
	color: white;
}

.lets-connect {
	color: #999d9e;
}

.contact li {
	font-size: 14px;
}

.footer p {
	font-size: 14px;
}

.projects-desktop {
	margin: 0 auto;
	max-width: 1200px;
}

.v1-desktop-img {
	display: none;
}

a .link-underline-opacity-100-hover {
	transition: all 400ms ease-in-out;
}

.about-img {
	box-shadow: 2px 2px 20px rgba(85, 79, 79, 0.637);
	transition: all 500ms ease-in-out;
}

.about-img:hover {
	cursor: pointer;
	transform: translate3d(0, -1.125rem, 0);
	transform: scale3d(1.1, 1.1, 1.1);
}

.about-disc {
	font-size: 3rem;
	font-weight: 400;
}

.about-services .fs2 {
	font-weight: 300;
	font-size: 1.8rem;
	color: #414141;
}

/* .v1-desktop:hover {
	cursor: pointer;
	transition: all 400ms ease-in-out;

	.v1-desktop-img {
		display: contents;
		float: right;
	}
} */

@media (min-width: 770px) {
	/* header {
		background-image: url(assets/bg-desktop.png);
		height: auto;
	} */

	.hero-img {
		width: 370px;
		height: auto;
	}
}

@media (min-width: 991px) {
	.hero-img {
		width: 440px;
		height: auto;
	}

	.about-bubble {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		/* background-color: #c4cdf4; */
		background-color: #1c1d20;
		color: white;
		border-radius: 50%;
		width: 180px;
		height: 180px;
		padding: 0;
		border: none;
		transition: all 200ms ease-in-out;
	}

	.btn-contact {
		height: 200px;
		width: 200px;
	}

	.profile-pic img {
		width: 80px;
		height: 80px;
	}

	.lets-work-together {
		font-size: 55px;
	}

	.btn-email-phone {
		padding: 10px 15px;
	}
}
